mixin rating()
    .rating-wrapper
        table.rating
            tr.rating__tr
                each val in ["Место", "Название", "Капитан", "Город", "Фотография", "Баллы", "Расстояние, км", "Человек в команде", "Дата"]
                    th.rating__th!= val
            -
                var lines = [
                    {
                        "title": "Очень длинное название",
                        "image": "https://www.moooi.com/sites/default/files/styles/large/public/product-images/random_detail.jpg"
                    },
                    {
                        "title": "Короткое название",
                        "image": "https://www.newton.ac.uk/files/covers/968361.jpg"
                    },
                    {
                        "title": "Свадьба КонстантинопольскогоКонстантинопольскогоКонстантинопольского",
                        "image": "http://www.rhaein.com/funnystuff/images/random/random239.jpg"
                    }
                ];
            -var i = 0;
            while i < 10
                tr.rating__tr
                    td!= i+1
                    td.rating__td!= lines[i%3].title
                    td.rating__td Иван Констанопольский
                    td.rating__td Мохенджо-Даро
                    td.rating__td
                        .rating__image
                            a(href='#{lines[i%3].image}').js-magnificPopup
                                img(src='#{lines[i%3].image}')
                    td.rating__td 352
                    td.rating__td 352
                    td.rating__td 6
                    td.rating__td 21.04
                -i++